body  {
    font-family: sans-serif;
    width: 80%;
    height: 10px; 
    overflow:auto;
    margin: auto;
    margin-bottom: 10vh;
    background-color: rgb(109, 155, 121);
}

h1 {
    text-align: center;
}

 h2 {
    text-align: center;
    color:#fff;
}
 
p {
    text-align: justify;
    margin-left: 250px;
}


header {
    text-align: justify;
    padding: 10px 0;
}

nav {
    background-color: #333;
}

.menuhorizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center;  */
    justify-content: flex-start;
    padding-left: 285px;
}

.menuhorizontal li {
    display: inline-block;
}

.menuhorizontal li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    justify-content: flex-start
    ;
}



.content1 {
    /* background-color:#fff; */
}

.content1 h2 {
    color: aqua;
    background-color: aquamarine;
    margin-left: 58px;
    margin-top: -500px;
    padding: 10px 20px 5px 20px;
    width: 250px;
} 

.content1 h1 {
    /* color: #fff; */
    background-color: green;
    
}


.content2 {
    background-color: #fff;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px; 
}


.content2 h2 {
    color: aqua;
    background-color: aquamarine;
    margin-left: 58px;
    margin-top: -500px;
    padding: 10px 20px 5px 20px;
    width: 250px;
} 

.content2 h1 {
    color: #fff;
    background-color: green;
}

.content2 p {
    text-align: left; 
    margin-left: 35px; 
    margin-right: auto; 

}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
}

button {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
}

.service-box {
    background-color: #f9f9f9;
    /* border: 1px solid #ddd; */
    border-radius: 15px;
    padding: 20px;
    margin: 5px auto;
    max-width: 600px;
}

.service-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.service-box ul {
    list-style-type: none;
    padding: 0;
}

.service-box ul li {
    font-size: 18px;
    margin-bottom: 5px;
    text-align:center;
    margin-right: 59px;
    margin: 5px 0;
    background-color: rgb(99, 140, 99);
}

.service-box p {
    font-size: 20px;
    color:green;
    width: 45%; 
    text-align: left auto;
    padding: 10px; 
    margin: 250px; 
    margin-bottom: 10px;
    margin-top: auto;
    letter-spacing: -1px;
   
}

.service-box {
    background-color: #f9f9f9;
    border: 5px solid #090808;
    padding: 20px;
    margin: 20px auto; 
    max-width: 1000px;
    text-align: center; 
    display: flex;
    flex-direction: column;
}

.service-box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0;
}

.service-item {
    margin: 10px;
    text-align: center;
}

.service-item img {
    width: 200px; 
    height: auto; 
}

.service-item h1, .service-item p {
    margin: 5px 0; 
   
}


 
ol {
    list-style-type: none;
    padding: 0;
    text-align: center;
    /* background-color: #fff; */
    max-width: 100px;
    margin-left: 455px;
    
}


a {
    background-color: transparent;
    text-decoration: none; 
    color: inherit; 
}


a:hover {
    color: #FF0000; 
}

.service-box ol li:nth-child(odd) {
    background-color:#fff; 
    
}

.service-box ol li:nth-child(even) {
    background-color: green; 
}

.portifolio {

}

.portifolio imgs {
    width: min-content;
    min-height: auto;
}


.big-square {
    display: flex; 
    flex-direction: column; 
}
  

.small-square {
    margin-bottom: 20px;
}


.small-square p {
        color: white; 
        background-color: rgba(0, 0, 0, 0.5); 
        padding: 20px; 
        
    }


.Frase-Final {
   
}

.Frase-Final h1 {
    background-color: #f3efef;
    color:#131212;
    border-radius: 23px;
    margin-bottom: 50px;
}

.portfolio .small-square1,
.portfolio .small-square2,
.portfolio .small-square3 {
    text-align: center; 

}

.portfolio .small-square1 p,
.portfolio .small-square2 p,
.portfolio .small-square3 p {
    text-align: justify;
    color: #fff; 
    font-size: 34px; 
    border-color: aqua;
    border-radius: 23px;
    margin: 5px 0; 
    letter-spacing: -1px; 
}
   

.portfolio .small-square1 img,
.portfolio .small-square2 img,
.portfolio .small-square3 img {
    max-width: 600px; 
    max-height: 400px; 
    display: block; 
    margin: 0 auto; 
    padding-top: 20px;
    border-radius: 35px;
}


.menu-vertical {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-vertical li {
    margin-bottom: 10px; 
}

.menu-vertical li a {
    display: block;
    text-decoration: none;
    color: #333; 
    padding: 10px; 
    border: 1px solid #ccc; 
    text-align: center;
    margin-top: 40px;
    min-width: 30px;
}


.menu-vertical li a:hover {
    background-color: green; 
}


footer {
    text-align: center;
    padding: 10px 325px; 
    margin: 60px;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 80px;
}

footer p {
    margin: 5px 0; 
    text-align: center;
}



